


<div class="footer-form mb-50">

    <form method="post" asp-action="Subscribe" asp-controller="Blog" class="form-group">
        <input type="email" name="Email" class="form-control" placeholder=" Email adresinizi yazınız " required>
        <div>
            <button onclick="subscribe()" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">
                Abone Ol
            </button>
        </div>
        <div class="mt-10 info"></div>
    </form>
    
</div>